.red {
    color: red; 
}
.bold {
    font-weight: bold;
}

/* @media (min-width: 500px) {
    .Person {
        width: 450px;
    }
} */
.Cockpit{
    text-align: center;
    padding: 10px;
    
}


.Cockpit button {
    border: 2px solid blue;
    background-color: green;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    border-radius: 6px;
}
.Cockpit button:hover {
    background-color: lightgreen;
    color: black
}
.Cockpit button.Red {
    border: 2px solid red;
    background-color: red;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    border-radius: 6px;
}
.Cockpit button.Red:hover {
    background-color: salmon;
    color: black
}